.btn:hover, .btn-theme:hover, .btn:hover, .btn-white:hover, .btn-theme-2:hover, .btn-theme-2 input[type*="submit"]:hover, .btn-black:hover, input[type*="submit"]:not(.fa):not(.btn-theme):hover, #tribe-events .tribe-events-button:hover, .tribe-events-button:hover, .load_more_jobs:hover {
	background: #62cec5;
}
.btn-inline:hover {
	color: #62cec5;
}
ul.gva-nav-menu > li:after {
	background: #62cec5;
}
ul.gva-nav-menu > li:hover > a, ul.gva-nav-menu > li:active > a, ul.gva-nav-menu > li:focus > a, ul.gva-nav-menu > li.current_page_parent > a {
	color: #62cec5;
}
.gsc-call-to-action .sub-title {
	color: #62cec5;
}
.gsc-icon-box .highlight-icon .box-icon {
	color: #62cec5;
}
.gsc-icon-box .highlight-icon .box-icon svg {
	fill: #62cec5;
}
.gsc-heading .sub-title {
	color: #62cec5;
}
.gsc-image-content.skin-v1:hover .image .number-text, .gsc-image-content.skin-v1.active .image .number-text {
	background: #62cec5;
}
.user-agent-block.user-agency .user-content .user-position {
	color: #62cec5;
}
.user-agent-block.user-agency .user-content .users-socials a:hover {
	background: #62cec5;
}
.user-agent-block.user-agent .user-content .users-socials a:hover {
	background: #62cec5;
}
.ulisting-attribute-template.type-3 .attribute-icon {
	color: #62cec5;
}
.ulisting-attribute-template.type-4 .attributes-list li .ulisting-attribute-template-icon {
	color: #62cec5;
}
.listing-el-accordion .card .card-header .btn-link {
	border: 1px solid #62cec5;
	background: #62cec5;
}
#app_mortgage_calc .form-mortgage_calc-content .graph rect {
	fill: #62cec5;
}
.listing-block .listing-thumbnail .wishlist-icon-content a.wishlist-added {
	background: #62cec5;
}
.listing-block .listing-thumbnail .wishlist-icon-content a:hover {
	background: #62cec5;
}
.listing-block .listing-content .content-bottom > div .ulisting-attribute-template-icon {
	color: #62cec5;
}
.style-map-1 .listing-thumbnail .listing-price-attributes .listing-attributes > div .ulisting-attribute-template-icon {
	color: #62cec5;
}
.listing-block-single .listing-content .subtitle-text {
	color: #62cec5;
}
.listing-block-single .listing-content .listing-short-description ul li:after {
	color: #62cec5;
}
.listing-block-single .listing-content .listing-attributes > div .ulisting-attribute-template-icon {
	color: #62cec5;
}
#stm-pricing-plan .listing-pricing-plan-content .card .card-body .plan-content ul li:before {
	color: #62cec5;
}
.single-listing .listing-agent-information .information-content .user-socials a:hover {
	background: #62cec5;
}
.single-listing .listing-agent-information .contact-form .lt-contact-fom-btn {
	color: #62cec5;
}
#form-listing-contact-popup .mfp-close:hover {
	background: #62cec5;
}
.ulisting-add-listing-form #stm-listing-form-listing .form-listing-item .card-plan .card-body .badge {
	background: #62cec5;
}
.user_box-list .users_box .users-socials-box a:hover {
	background: #62cec5;
}

