 
		.ulisting_element_630_1608712184100{;;}
		@media (max-width: 1199px) { .ulisting_element_630_1608712184100{} }
		@media (max-width: 991px) { .ulisting_element_630_1608712184100{} }
		@media (max-width: 767px) { .ulisting_element_630_1608712184100{} }
		@media (max-width: 575px) { .ulisting_element_630_1608712184100{} }
		 
		.ulisting_element_100_1608712184100{;;}
		@media (max-width: 1199px) { .ulisting_element_100_1608712184100{} }
		@media (max-width: 991px) { .ulisting_element_100_1608712184100{} }
		@media (max-width: 767px) { .ulisting_element_100_1608712184100{} }
		@media (max-width: 575px) { .ulisting_element_100_1608712184100{} }
		 
		.ulisting_element_210_1608712184100{;;}
		@media (max-width: 1199px) { .ulisting_element_210_1608712184100{} }
		@media (max-width: 991px) { .ulisting_element_210_1608712184100{} }
		@media (max-width: 767px) { .ulisting_element_210_1608712184100{} }
		@media (max-width: 575px) { .ulisting_element_210_1608712184100{} }
		 
		.ulisting_element_800_1608777515789{;;}
		@media (max-width: 1199px) { .ulisting_element_800_1608777515789{} }
		@media (max-width: 991px) { .ulisting_element_800_1608777515789{} }
		@media (max-width: 767px) { .ulisting_element_800_1608777515789{} }
		@media (max-width: 575px) { .ulisting_element_800_1608777515789{} }
		 
		.ulisting_element_820_1553249009531{;padding-top:50px;padding-bottom:50px;}
		@media (max-width: 1199px) { .ulisting_element_820_1553249009531{} }
		@media (max-width: 991px) { .ulisting_element_820_1553249009531{} }
		@media (max-width: 767px) { .ulisting_element_820_1553249009531{} }
		@media (max-width: 575px) { .ulisting_element_820_1553249009531{} }
		 
		.ulisting_element_350_1553249009531{;;}
		@media (max-width: 1199px) { .ulisting_element_350_1553249009531{} }
		@media (max-width: 991px) { .ulisting_element_350_1553249009531{} }
		@media (max-width: 767px) { .ulisting_element_350_1553249009531{} }
		@media (max-width: 575px) { .ulisting_element_350_1553249009531{} }
		 
		.ulisting_element_490_1553249009531{;;}
		@media (max-width: 1199px) { .ulisting_element_490_1553249009531{} }
		@media (max-width: 991px) { .ulisting_element_490_1553249009531{} }
		@media (max-width: 767px) { .ulisting_element_490_1553249009531{} }
		@media (max-width: 575px) { .ulisting_element_490_1553249009531{} }
		 
		.ulisting_element_610_1590636029251{;;}
		@media (max-width: 1199px) { .ulisting_element_610_1590636029251{} }
		@media (max-width: 991px) { .ulisting_element_610_1590636029251{} }
		@media (max-width: 767px) { .ulisting_element_610_1590636029251{} }
		@media (max-width: 575px) { .ulisting_element_610_1590636029251{} }
		 
		.ulisting_element_530_1590636029251{;;}
		@media (max-width: 1199px) { .ulisting_element_530_1590636029251{} }
		@media (max-width: 991px) { .ulisting_element_530_1590636029251{} }
		@media (max-width: 767px) { .ulisting_element_530_1590636029251{} }
		@media (max-width: 575px) { .ulisting_element_530_1590636029251{} }
		 
		.ulisting_element_560_1590636059647{;;}
		@media (max-width: 1199px) { .ulisting_element_560_1590636059647{} }
		@media (max-width: 991px) { .ulisting_element_560_1590636059647{} }
		@media (max-width: 767px) { .ulisting_element_560_1590636059647{} }
		@media (max-width: 575px) { .ulisting_element_560_1590636059647{} }
		 
		.ulisting_element_340_1609230861867{;;}
		@media (max-width: 1199px) { .ulisting_element_340_1609230861867{} }
		@media (max-width: 991px) { .ulisting_element_340_1609230861867{} }
		@media (max-width: 767px) { .ulisting_element_340_1609230861867{} }
		@media (max-width: 575px) { .ulisting_element_340_1609230861867{} }
		 
		.ulisting_element_90_1590739704528{font-size: 24px;;}
		@media (max-width: 1199px) { .ulisting_element_90_1590739704528{} }
		@media (max-width: 991px) { .ulisting_element_90_1590739704528{} }
		@media (max-width: 767px) { .ulisting_element_90_1590739704528{} }
		@media (max-width: 575px) { .ulisting_element_90_1590739704528{} }
		 
		.ulisting_element_750_1590636089219{;align-items: center;;display: flex; justify-content: flex-end;;}
		@media (max-width: 1199px) { .ulisting_element_750_1590636089219{;display: flex; justify-content: flex-end;} }
		@media (max-width: 991px) { .ulisting_element_750_1590636089219{;display: flex; justify-content: flex-end;} }
		@media (max-width: 767px) { .ulisting_element_750_1590636089219{;display: flex; justify-content: flex-start;} }
		@media (max-width: 575px) { .ulisting_element_750_1590636089219{;display: block;} }
		 
		.ulisting_element_560_1592468509097{;margin-right:28px;}
		@media (max-width: 1199px) { .ulisting_element_560_1592468509097{margin-right:20px} }
		@media (max-width: 991px) { .ulisting_element_560_1592468509097{} }
		@media (max-width: 767px) { .ulisting_element_560_1592468509097{} }
		@media (max-width: 575px) { .ulisting_element_560_1592468509097{} }
		 
		.ulisting_element_10_1592468505646{;margin-right:28px;}
		@media (max-width: 1199px) { .ulisting_element_10_1592468505646{margin-right:20px} }
		@media (max-width: 991px) { .ulisting_element_10_1592468505646{} }
		@media (max-width: 767px) { .ulisting_element_10_1592468505646{} }
		@media (max-width: 575px) { .ulisting_element_10_1592468505646{} }
		 
		.ulisting_element_700_1592468513248{;margin-right:50px;}
		@media (max-width: 1199px) { .ulisting_element_700_1592468513248{margin-right:25px} }
		@media (max-width: 991px) { .ulisting_element_700_1592468513248{margin-right:20px} }
		@media (max-width: 767px) { .ulisting_element_700_1592468513248{} }
		@media (max-width: 575px) { .ulisting_element_700_1592468513248{} }
		 
		.ulisting_element_390_1608712355598{;;}
		@media (max-width: 1199px) { .ulisting_element_390_1608712355598{} }
		@media (max-width: 991px) { .ulisting_element_390_1608712355598{} }
		@media (max-width: 767px) { .ulisting_element_390_1608712355598{} }
		@media (max-width: 575px) { .ulisting_element_390_1608712355598{} }
		 
		.ulisting_element_320_1608777427583{background-color:#EFF1F6;margin-bottom:60px;}
		@media (max-width: 1199px) { .ulisting_element_320_1608777427583{} }
		@media (max-width: 991px) { .ulisting_element_320_1608777427583{} }
		@media (max-width: 767px) { .ulisting_element_320_1608777427583{} }
		@media (max-width: 575px) { .ulisting_element_320_1608777427583{} }
		 
		.ulisting_element_940_1608777427583{;;}
		@media (max-width: 1199px) { .ulisting_element_940_1608777427583{} }
		@media (max-width: 991px) { .ulisting_element_940_1608777427583{} }
		@media (max-width: 767px) { .ulisting_element_940_1608777427583{} }
		@media (max-width: 575px) { .ulisting_element_940_1608777427583{} }
		 
		.ulisting_element_710_1608777427583{;;}
		@media (max-width: 1199px) { .ulisting_element_710_1608777427583{} }
		@media (max-width: 991px) { .ulisting_element_710_1608777427583{} }
		@media (max-width: 767px) { .ulisting_element_710_1608777427583{} }
		@media (max-width: 575px) { .ulisting_element_710_1608777427583{} }
		 
		.ulisting_element_930_1609230842818{;;}
		@media (max-width: 1199px) { .ulisting_element_930_1609230842818{} }
		@media (max-width: 991px) { .ulisting_element_930_1609230842818{} }
		@media (max-width: 767px) { .ulisting_element_930_1609230842818{} }
		@media (max-width: 575px) { .ulisting_element_930_1609230842818{} }
		 
		.ulisting_element_160_1553249663085{background-color:#FFFFFF;margin-bottom:80px;}
		@media (max-width: 1199px) { .ulisting_element_160_1553249663085{} }
		@media (max-width: 991px) { .ulisting_element_160_1553249663085{} }
		@media (max-width: 767px) { .ulisting_element_160_1553249663085{} }
		@media (max-width: 575px) { .ulisting_element_160_1553249663085{} }
		 
		.ulisting_element_30_1553249663085{;;}
		@media (max-width: 1199px) { .ulisting_element_30_1553249663085{} }
		@media (max-width: 991px) { .ulisting_element_30_1553249663085{} }
		@media (max-width: 767px) { .ulisting_element_30_1553249663085{} }
		@media (max-width: 575px) { .ulisting_element_30_1553249663085{} }
		 
		.ulisting_element_690_1553249663085{;;}
		@media (max-width: 1199px) { .ulisting_element_690_1553249663085{} }
		@media (max-width: 991px) { .ulisting_element_690_1553249663085{margin-bottom:60px} }
		@media (max-width: 767px) { .ulisting_element_690_1553249663085{} }
		@media (max-width: 575px) { .ulisting_element_690_1553249663085{} }
		 
		.ulisting_element_660_1590568093440{;;}
		@media (max-width: 1199px) { .ulisting_element_660_1590568093440{} }
		@media (max-width: 991px) { .ulisting_element_660_1590568093440{} }
		@media (max-width: 767px) { .ulisting_element_660_1590568093440{} }
		@media (max-width: 575px) { .ulisting_element_660_1590568093440{} }
		 
		.ulisting_element_300_1609230905727{;margin-top:55px;margin-bottom:55px;}
		@media (max-width: 1199px) { .ulisting_element_300_1609230905727{} }
		@media (max-width: 991px) { .ulisting_element_300_1609230905727{} }
		@media (max-width: 767px) { .ulisting_element_300_1609230905727{} }
		@media (max-width: 575px) { .ulisting_element_300_1609230905727{} }
		 
		.ulisting_element_310_1609230806998{;;}
		@media (max-width: 1199px) { .ulisting_element_310_1609230806998{} }
		@media (max-width: 991px) { .ulisting_element_310_1609230806998{} }
		@media (max-width: 767px) { .ulisting_element_310_1609230806998{} }
		@media (max-width: 575px) { .ulisting_element_310_1609230806998{} }
		 
		.ulisting_element_200_1590740402940{;;}
		@media (max-width: 1199px) { .ulisting_element_200_1590740402940{} }
		@media (max-width: 991px) { .ulisting_element_200_1590740402940{} }
		@media (max-width: 767px) { .ulisting_element_200_1590740402940{} }
		@media (max-width: 575px) { .ulisting_element_200_1590740402940{} }
		 
		.ulisting_element_440_1592468585259{;;}
		@media (max-width: 1199px) { .ulisting_element_440_1592468585259{} }
		@media (max-width: 991px) { .ulisting_element_440_1592468585259{} }
		@media (max-width: 767px) { .ulisting_element_440_1592468585259{} }
		@media (max-width: 575px) { .ulisting_element_440_1592468585259{} }
		 
		.ulisting_element_830_1590740503983{;;}
		@media (max-width: 1199px) { .ulisting_element_830_1590740503983{} }
		@media (max-width: 991px) { .ulisting_element_830_1590740503983{} }
		@media (max-width: 767px) { .ulisting_element_830_1590740503983{} }
		@media (max-width: 575px) { .ulisting_element_830_1590740503983{} }
		 
		.ulisting_element_150_1592468591070{;;}
		@media (max-width: 1199px) { .ulisting_element_150_1592468591070{} }
		@media (max-width: 991px) { .ulisting_element_150_1592468591070{} }
		@media (max-width: 767px) { .ulisting_element_150_1592468591070{} }
		@media (max-width: 575px) { .ulisting_element_150_1592468591070{} }
		 
		.ulisting_element_820_1590741594513{;;}
		@media (max-width: 1199px) { .ulisting_element_820_1590741594513{} }
		@media (max-width: 991px) { .ulisting_element_820_1590741594513{} }
		@media (max-width: 767px) { .ulisting_element_820_1590741594513{} }
		@media (max-width: 575px) { .ulisting_element_820_1590741594513{} }
		 
		.ulisting_element_80_1590740546845{;;}
		@media (max-width: 1199px) { .ulisting_element_80_1590740546845{} }
		@media (max-width: 991px) { .ulisting_element_80_1590740546845{} }
		@media (max-width: 767px) { .ulisting_element_80_1590740546845{} }
		@media (max-width: 575px) { .ulisting_element_80_1590740546845{} }
		 
		.ulisting_element_160_1592468600597{;;}
		@media (max-width: 1199px) { .ulisting_element_160_1592468600597{} }
		@media (max-width: 991px) { .ulisting_element_160_1592468600597{} }
		@media (max-width: 767px) { .ulisting_element_160_1592468600597{} }
		@media (max-width: 575px) { .ulisting_element_160_1592468600597{} }
		 
		.ulisting_element_90_1590740583778{;;}
		@media (max-width: 1199px) { .ulisting_element_90_1590740583778{} }
		@media (max-width: 991px) { .ulisting_element_90_1590740583778{} }
		@media (max-width: 767px) { .ulisting_element_90_1590740583778{} }
		@media (max-width: 575px) { .ulisting_element_90_1590740583778{} }
		 
		.ulisting_element_520_1592468617389{;;}
		@media (max-width: 1199px) { .ulisting_element_520_1592468617389{} }
		@media (max-width: 991px) { .ulisting_element_520_1592468617389{} }
		@media (max-width: 767px) { .ulisting_element_520_1592468617389{} }
		@media (max-width: 575px) { .ulisting_element_520_1592468617389{} }
		 
		.ulisting_element_810_1590740592112{;;}
		@media (max-width: 1199px) { .ulisting_element_810_1590740592112{} }
		@media (max-width: 991px) { .ulisting_element_810_1590740592112{} }
		@media (max-width: 767px) { .ulisting_element_810_1590740592112{} }
		@media (max-width: 575px) { .ulisting_element_810_1590740592112{} }
		 
		.ulisting_element_550_1590740601430{;;}
		@media (max-width: 1199px) { .ulisting_element_550_1590740601430{} }
		@media (max-width: 991px) { .ulisting_element_550_1590740601430{} }
		@media (max-width: 767px) { .ulisting_element_550_1590740601430{} }
		@media (max-width: 575px) { .ulisting_element_550_1590740601430{} }
		 
		.ulisting_element_940_1590741573812{;;}
		@media (max-width: 1199px) { .ulisting_element_940_1590741573812{} }
		@media (max-width: 991px) { .ulisting_element_940_1590741573812{} }
		@media (max-width: 767px) { .ulisting_element_940_1590741573812{} }
		@media (max-width: 575px) { .ulisting_element_940_1590741573812{} }
		 
		.ulisting_element_150_1609230888753{;margin-top:55px;margin-bottom:55px;}
		@media (max-width: 1199px) { .ulisting_element_150_1609230888753{} }
		@media (max-width: 991px) { .ulisting_element_150_1609230888753{} }
		@media (max-width: 767px) { .ulisting_element_150_1609230888753{} }
		@media (max-width: 575px) { .ulisting_element_150_1609230888753{} }
		 
		.ulisting_element_680_1590568125722{;;}
		@media (max-width: 1199px) { .ulisting_element_680_1590568125722{} }
		@media (max-width: 991px) { .ulisting_element_680_1590568125722{} }
		@media (max-width: 767px) { .ulisting_element_680_1590568125722{} }
		@media (max-width: 575px) { .ulisting_element_680_1590568125722{} }
		 
		.ulisting_element_330_1609230893335{;margin-top:40px;margin-bottom:55px;}
		@media (max-width: 1199px) { .ulisting_element_330_1609230893335{} }
		@media (max-width: 991px) { .ulisting_element_330_1609230893335{} }
		@media (max-width: 767px) { .ulisting_element_330_1609230893335{} }
		@media (max-width: 575px) { .ulisting_element_330_1609230893335{} }
		 
		.ulisting_element_590_1609230720095{;;}
		@media (max-width: 1199px) { .ulisting_element_590_1609230720095{} }
		@media (max-width: 991px) { .ulisting_element_590_1609230720095{} }
		@media (max-width: 767px) { .ulisting_element_590_1609230720095{} }
		@media (max-width: 575px) { .ulisting_element_590_1609230720095{} }
		 
		.ulisting_element_710_1609230731568{;margin-top:55px;}
		@media (max-width: 1199px) { .ulisting_element_710_1609230731568{} }
		@media (max-width: 991px) { .ulisting_element_710_1609230731568{} }
		@media (max-width: 767px) { .ulisting_element_710_1609230731568{} }
		@media (max-width: 575px) { .ulisting_element_710_1609230731568{} }
		 
		.ulisting_element_950_1609230759150{;margin-top:55px;}
		@media (max-width: 1199px) { .ulisting_element_950_1609230759150{} }
		@media (max-width: 991px) { .ulisting_element_950_1609230759150{} }
		@media (max-width: 767px) { .ulisting_element_950_1609230759150{} }
		@media (max-width: 575px) { .ulisting_element_950_1609230759150{} }
		 
		.ulisting_element_920_1590570404853{;;}
		@media (max-width: 1199px) { .ulisting_element_920_1590570404853{} }
		@media (max-width: 991px) { .ulisting_element_920_1590570404853{} }
		@media (max-width: 767px) { .ulisting_element_920_1590570404853{} }
		@media (max-width: 575px) { .ulisting_element_920_1590570404853{} }
		 
		.ulisting_element_360_1609230780682{;margin-top:55px;}
		@media (max-width: 1199px) { .ulisting_element_360_1609230780682{} }
		@media (max-width: 991px) { .ulisting_element_360_1609230780682{} }
		@media (max-width: 767px) { .ulisting_element_360_1609230780682{} }
		@media (max-width: 575px) { .ulisting_element_360_1609230780682{} }
		 
		.ulisting_element_680_1590568336761{;;}
		@media (max-width: 1199px) { .ulisting_element_680_1590568336761{} }
		@media (max-width: 991px) { .ulisting_element_680_1590568336761{} }
		@media (max-width: 767px) { .ulisting_element_680_1590568336761{} }
		@media (max-width: 575px) { .ulisting_element_680_1590568336761{} }
		 
		.ulisting_element_200_1609230706563{;;}
		@media (max-width: 1199px) { .ulisting_element_200_1609230706563{} }
		@media (max-width: 991px) { .ulisting_element_200_1609230706563{} }
		@media (max-width: 767px) { .ulisting_element_200_1609230706563{} }
		@media (max-width: 575px) { .ulisting_element_200_1609230706563{} }
		 
		.ulisting_element_930_1590568048132{;position: sticky; position: -webkit-sticky; align-self: flex-start;;}
		@media (max-width: 1199px) { .ulisting_element_930_1590568048132{position: none} }
		@media (max-width: 991px) { .ulisting_element_930_1590568048132{position: none} }
		@media (max-width: 767px) { .ulisting_element_930_1590568048132{position: none} }
		@media (max-width: 575px) { .ulisting_element_930_1590568048132{position: none} }
		 
		.ulisting_element_40_1609230677143{;;}
		@media (max-width: 1199px) { .ulisting_element_40_1609230677143{} }
		@media (max-width: 991px) { .ulisting_element_40_1609230677143{} }
		@media (max-width: 767px) { .ulisting_element_40_1609230677143{} }
		@media (max-width: 575px) { .ulisting_element_40_1609230677143{} }
		 
		.ulisting_element_520_1608797200576{;;}
		@media (max-width: 1199px) { .ulisting_element_520_1608797200576{} }
		@media (max-width: 991px) { .ulisting_element_520_1608797200576{} }
		@media (max-width: 767px) { .ulisting_element_520_1608797200576{} }
		@media (max-width: 575px) { .ulisting_element_520_1608797200576{} }
		 
		.ulisting_element_700_1609144143087{;;}
		@media (max-width: 1199px) { .ulisting_element_700_1609144143087{} }
		@media (max-width: 991px) { .ulisting_element_700_1609144143087{} }
		@media (max-width: 767px) { .ulisting_element_700_1609144143087{} }
		@media (max-width: 575px) { .ulisting_element_700_1609144143087{} }
		 
		.ulisting_element_750_1609230712812{;;}
		@media (max-width: 1199px) { .ulisting_element_750_1609230712812{} }
		@media (max-width: 991px) { .ulisting_element_750_1609230712812{} }
		@media (max-width: 767px) { .ulisting_element_750_1609230712812{} }
		@media (max-width: 575px) { .ulisting_element_750_1609230712812{} }
		