 
		.ulisting_element_630_1608712184100{;;}
		@media (max-width: 1199px) { .ulisting_element_630_1608712184100{} }
		@media (max-width: 991px) { .ulisting_element_630_1608712184100{} }
		@media (max-width: 767px) { .ulisting_element_630_1608712184100{} }
		@media (max-width: 575px) { .ulisting_element_630_1608712184100{} }
		 
		.ulisting_element_100_1608712184100{;;}
		@media (max-width: 1199px) { .ulisting_element_100_1608712184100{} }
		@media (max-width: 991px) { .ulisting_element_100_1608712184100{} }
		@media (max-width: 767px) { .ulisting_element_100_1608712184100{} }
		@media (max-width: 575px) { .ulisting_element_100_1608712184100{} }
		 
		.ulisting_element_210_1608712184100{;;}
		@media (max-width: 1199px) { .ulisting_element_210_1608712184100{} }
		@media (max-width: 991px) { .ulisting_element_210_1608712184100{} }
		@media (max-width: 767px) { .ulisting_element_210_1608712184100{} }
		@media (max-width: 575px) { .ulisting_element_210_1608712184100{} }
		 
		.ulisting_element_600_1699375194554{;;}
		@media (max-width: 1199px) { .ulisting_element_600_1699375194554{} }
		@media (max-width: 991px) { .ulisting_element_600_1699375194554{} }
		@media (max-width: 767px) { .ulisting_element_600_1699375194554{} }
		@media (max-width: 575px) { .ulisting_element_600_1699375194554{} }
		 
		.ulisting_element_820_1553249009531{;padding-top:50px;padding-bottom:50px;}
		@media (max-width: 1199px) { .ulisting_element_820_1553249009531{} }
		@media (max-width: 991px) { .ulisting_element_820_1553249009531{} }
		@media (max-width: 767px) { .ulisting_element_820_1553249009531{} }
		@media (max-width: 575px) { .ulisting_element_820_1553249009531{} }
		 
		.ulisting_element_350_1553249009531{;;}
		@media (max-width: 1199px) { .ulisting_element_350_1553249009531{} }
		@media (max-width: 991px) { .ulisting_element_350_1553249009531{} }
		@media (max-width: 767px) { .ulisting_element_350_1553249009531{} }
		@media (max-width: 575px) { .ulisting_element_350_1553249009531{} }
		 
		.ulisting_element_490_1553249009531{;;}
		@media (max-width: 1199px) { .ulisting_element_490_1553249009531{} }
		@media (max-width: 991px) { .ulisting_element_490_1553249009531{} }
		@media (max-width: 767px) { .ulisting_element_490_1553249009531{} }
		@media (max-width: 575px) { .ulisting_element_490_1553249009531{} }
		 
		.ulisting_element_610_1590636029251{;;}
		@media (max-width: 1199px) { .ulisting_element_610_1590636029251{} }
		@media (max-width: 991px) { .ulisting_element_610_1590636029251{} }
		@media (max-width: 767px) { .ulisting_element_610_1590636029251{} }
		@media (max-width: 575px) { .ulisting_element_610_1590636029251{} }
		 
		.ulisting_element_530_1590636029251{;;}
		@media (max-width: 1199px) { .ulisting_element_530_1590636029251{} }
		@media (max-width: 991px) { .ulisting_element_530_1590636029251{} }
		@media (max-width: 767px) { .ulisting_element_530_1590636029251{} }
		@media (max-width: 575px) { .ulisting_element_530_1590636029251{} }
		 
		.ulisting_element_560_1590636059647{;;}
		@media (max-width: 1199px) { .ulisting_element_560_1590636059647{} }
		@media (max-width: 991px) { .ulisting_element_560_1590636059647{} }
		@media (max-width: 767px) { .ulisting_element_560_1590636059647{} }
		@media (max-width: 575px) { .ulisting_element_560_1590636059647{} }
		 
		.ulisting_element_340_1609230861867{;;}
		@media (max-width: 1199px) { .ulisting_element_340_1609230861867{} }
		@media (max-width: 991px) { .ulisting_element_340_1609230861867{} }
		@media (max-width: 767px) { .ulisting_element_340_1609230861867{} }
		@media (max-width: 575px) { .ulisting_element_340_1609230861867{} }
		 
		.ulisting_element_640_1699375492849{;;}
		@media (max-width: 1199px) { .ulisting_element_640_1699375492849{} }
		@media (max-width: 991px) { .ulisting_element_640_1699375492849{} }
		@media (max-width: 767px) { .ulisting_element_640_1699375492849{} }
		@media (max-width: 575px) { .ulisting_element_640_1699375492849{} }
		 
		.ulisting_element_750_1590636089219{;align-items: center;;display: flex; justify-content: flex-end;;}
		@media (max-width: 1199px) { .ulisting_element_750_1590636089219{;display: flex; justify-content: flex-end;} }
		@media (max-width: 991px) { .ulisting_element_750_1590636089219{;display: flex; justify-content: flex-end;} }
		@media (max-width: 767px) { .ulisting_element_750_1590636089219{;display: flex; justify-content: flex-start;} }
		@media (max-width: 575px) { .ulisting_element_750_1590636089219{;display: block;} }
		 
		.ulisting_element_350_1699375452596{;;}
		@media (max-width: 1199px) { .ulisting_element_350_1699375452596{} }
		@media (max-width: 991px) { .ulisting_element_350_1699375452596{} }
		@media (max-width: 767px) { .ulisting_element_350_1699375452596{} }
		@media (max-width: 575px) { .ulisting_element_350_1699375452596{} }
		 
		.ulisting_element_320_1608777427583{background-color:#EFF1F6;margin-bottom:60px;}
		@media (max-width: 1199px) { .ulisting_element_320_1608777427583{} }
		@media (max-width: 991px) { .ulisting_element_320_1608777427583{} }
		@media (max-width: 767px) { .ulisting_element_320_1608777427583{} }
		@media (max-width: 575px) { .ulisting_element_320_1608777427583{} }
		 
		.ulisting_element_940_1608777427583{;;}
		@media (max-width: 1199px) { .ulisting_element_940_1608777427583{} }
		@media (max-width: 991px) { .ulisting_element_940_1608777427583{} }
		@media (max-width: 767px) { .ulisting_element_940_1608777427583{} }
		@media (max-width: 575px) { .ulisting_element_940_1608777427583{} }
		 
		.ulisting_element_710_1608777427583{;;}
		@media (max-width: 1199px) { .ulisting_element_710_1608777427583{} }
		@media (max-width: 991px) { .ulisting_element_710_1608777427583{} }
		@media (max-width: 767px) { .ulisting_element_710_1608777427583{} }
		@media (max-width: 575px) { .ulisting_element_710_1608777427583{} }
		 
		.ulisting_element_930_1609230842818{;;}
		@media (max-width: 1199px) { .ulisting_element_930_1609230842818{} }
		@media (max-width: 991px) { .ulisting_element_930_1609230842818{} }
		@media (max-width: 767px) { .ulisting_element_930_1609230842818{} }
		@media (max-width: 575px) { .ulisting_element_930_1609230842818{} }
		 
		.ulisting_element_160_1553249663085{background-color:#FFFFFF;margin-bottom:80px;}
		@media (max-width: 1199px) { .ulisting_element_160_1553249663085{} }
		@media (max-width: 991px) { .ulisting_element_160_1553249663085{} }
		@media (max-width: 767px) { .ulisting_element_160_1553249663085{} }
		@media (max-width: 575px) { .ulisting_element_160_1553249663085{} }
		 
		.ulisting_element_30_1553249663085{;;}
		@media (max-width: 1199px) { .ulisting_element_30_1553249663085{} }
		@media (max-width: 991px) { .ulisting_element_30_1553249663085{} }
		@media (max-width: 767px) { .ulisting_element_30_1553249663085{} }
		@media (max-width: 575px) { .ulisting_element_30_1553249663085{} }
		 
		.ulisting_element_690_1553249663085{;;}
		@media (max-width: 1199px) { .ulisting_element_690_1553249663085{} }
		@media (max-width: 991px) { .ulisting_element_690_1553249663085{margin-bottom:60px} }
		@media (max-width: 767px) { .ulisting_element_690_1553249663085{} }
		@media (max-width: 575px) { .ulisting_element_690_1553249663085{} }
		 
		.ulisting_element_60_1699375519570{;;}
		@media (max-width: 1199px) { .ulisting_element_60_1699375519570{} }
		@media (max-width: 991px) { .ulisting_element_60_1699375519570{} }
		@media (max-width: 767px) { .ulisting_element_60_1699375519570{} }
		@media (max-width: 575px) { .ulisting_element_60_1699375519570{} }
		 
		.ulisting_element_300_1609230905727{;margin-top:55px;margin-bottom:55px;}
		@media (max-width: 1199px) { .ulisting_element_300_1609230905727{} }
		@media (max-width: 991px) { .ulisting_element_300_1609230905727{} }
		@media (max-width: 767px) { .ulisting_element_300_1609230905727{} }
		@media (max-width: 575px) { .ulisting_element_300_1609230905727{} }
		 
		.ulisting_element_310_1609230806998{;;}
		@media (max-width: 1199px) { .ulisting_element_310_1609230806998{} }
		@media (max-width: 991px) { .ulisting_element_310_1609230806998{} }
		@media (max-width: 767px) { .ulisting_element_310_1609230806998{} }
		@media (max-width: 575px) { .ulisting_element_310_1609230806998{} }
		 
		.ulisting_element_200_1590740402940{;;}
		@media (max-width: 1199px) { .ulisting_element_200_1590740402940{} }
		@media (max-width: 991px) { .ulisting_element_200_1590740402940{} }
		@media (max-width: 767px) { .ulisting_element_200_1590740402940{} }
		@media (max-width: 575px) { .ulisting_element_200_1590740402940{} }
		 
		.ulisting_element_720_1699895224316{;;}
		@media (max-width: 1199px) { .ulisting_element_720_1699895224316{} }
		@media (max-width: 991px) { .ulisting_element_720_1699895224316{} }
		@media (max-width: 767px) { .ulisting_element_720_1699895224316{} }
		@media (max-width: 575px) { .ulisting_element_720_1699895224316{} }
		 
		.ulisting_element_770_1699895314707{;;}
		@media (max-width: 1199px) { .ulisting_element_770_1699895314707{} }
		@media (max-width: 991px) { .ulisting_element_770_1699895314707{} }
		@media (max-width: 767px) { .ulisting_element_770_1699895314707{} }
		@media (max-width: 575px) { .ulisting_element_770_1699895314707{} }
		 
		.ulisting_element_480_1699895098700{;;}
		@media (max-width: 1199px) { .ulisting_element_480_1699895098700{} }
		@media (max-width: 991px) { .ulisting_element_480_1699895098700{} }
		@media (max-width: 767px) { .ulisting_element_480_1699895098700{} }
		@media (max-width: 575px) { .ulisting_element_480_1699895098700{} }
		 
		.ulisting_element_800_1699894680563{;;}
		@media (max-width: 1199px) { .ulisting_element_800_1699894680563{} }
		@media (max-width: 991px) { .ulisting_element_800_1699894680563{} }
		@media (max-width: 767px) { .ulisting_element_800_1699894680563{} }
		@media (max-width: 575px) { .ulisting_element_800_1699894680563{} }
		 
		.ulisting_element_70_1699894832444{;;}
		@media (max-width: 1199px) { .ulisting_element_70_1699894832444{} }
		@media (max-width: 991px) { .ulisting_element_70_1699894832444{} }
		@media (max-width: 767px) { .ulisting_element_70_1699894832444{} }
		@media (max-width: 575px) { .ulisting_element_70_1699894832444{} }
		 
		.ulisting_element_1000_1699894816818{;;}
		@media (max-width: 1199px) { .ulisting_element_1000_1699894816818{} }
		@media (max-width: 991px) { .ulisting_element_1000_1699894816818{} }
		@media (max-width: 767px) { .ulisting_element_1000_1699894816818{} }
		@media (max-width: 575px) { .ulisting_element_1000_1699894816818{} }
		 
		.ulisting_element_720_1699895845401{;;}
		@media (max-width: 1199px) { .ulisting_element_720_1699895845401{} }
		@media (max-width: 991px) { .ulisting_element_720_1699895845401{} }
		@media (max-width: 767px) { .ulisting_element_720_1699895845401{} }
		@media (max-width: 575px) { .ulisting_element_720_1699895845401{} }
		 
		.ulisting_element_380_1699895850593{;;}
		@media (max-width: 1199px) { .ulisting_element_380_1699895850593{} }
		@media (max-width: 991px) { .ulisting_element_380_1699895850593{} }
		@media (max-width: 767px) { .ulisting_element_380_1699895850593{} }
		@media (max-width: 575px) { .ulisting_element_380_1699895850593{} }
		 
		.ulisting_element_520_1699895840088{;;}
		@media (max-width: 1199px) { .ulisting_element_520_1699895840088{} }
		@media (max-width: 991px) { .ulisting_element_520_1699895840088{} }
		@media (max-width: 767px) { .ulisting_element_520_1699895840088{} }
		@media (max-width: 575px) { .ulisting_element_520_1699895840088{} }
		 
		.ulisting_element_70_1699895853779{;;}
		@media (max-width: 1199px) { .ulisting_element_70_1699895853779{} }
		@media (max-width: 991px) { .ulisting_element_70_1699895853779{} }
		@media (max-width: 767px) { .ulisting_element_70_1699895853779{} }
		@media (max-width: 575px) { .ulisting_element_70_1699895853779{} }
		 
		.ulisting_element_150_1609230888753{;margin-top:55px;margin-bottom:55px;}
		@media (max-width: 1199px) { .ulisting_element_150_1609230888753{} }
		@media (max-width: 991px) { .ulisting_element_150_1609230888753{} }
		@media (max-width: 767px) { .ulisting_element_150_1609230888753{} }
		@media (max-width: 575px) { .ulisting_element_150_1609230888753{} }
		 
		.ulisting_element_680_1590568125722{;;}
		@media (max-width: 1199px) { .ulisting_element_680_1590568125722{} }
		@media (max-width: 991px) { .ulisting_element_680_1590568125722{} }
		@media (max-width: 767px) { .ulisting_element_680_1590568125722{} }
		@media (max-width: 575px) { .ulisting_element_680_1590568125722{} }
		 
		.ulisting_element_330_1609230893335{;margin-top:40px;margin-bottom:55px;}
		@media (max-width: 1199px) { .ulisting_element_330_1609230893335{} }
		@media (max-width: 991px) { .ulisting_element_330_1609230893335{} }
		@media (max-width: 767px) { .ulisting_element_330_1609230893335{} }
		@media (max-width: 575px) { .ulisting_element_330_1609230893335{} }
		 
		.ulisting_element_590_1609230720095{;;}
		@media (max-width: 1199px) { .ulisting_element_590_1609230720095{} }
		@media (max-width: 991px) { .ulisting_element_590_1609230720095{} }
		@media (max-width: 767px) { .ulisting_element_590_1609230720095{} }
		@media (max-width: 575px) { .ulisting_element_590_1609230720095{} }
		 
		.ulisting_element_540_1699896356832{;;}
		@media (max-width: 1199px) { .ulisting_element_540_1699896356832{} }
		@media (max-width: 991px) { .ulisting_element_540_1699896356832{} }
		@media (max-width: 767px) { .ulisting_element_540_1699896356832{} }
		@media (max-width: 575px) { .ulisting_element_540_1699896356832{} }
		 
		.ulisting_element_360_1609230780682{;margin-top:55px;}
		@media (max-width: 1199px) { .ulisting_element_360_1609230780682{} }
		@media (max-width: 991px) { .ulisting_element_360_1609230780682{} }
		@media (max-width: 767px) { .ulisting_element_360_1609230780682{} }
		@media (max-width: 575px) { .ulisting_element_360_1609230780682{} }
		 
		.ulisting_element_680_1590568336761{;;}
		@media (max-width: 1199px) { .ulisting_element_680_1590568336761{} }
		@media (max-width: 991px) { .ulisting_element_680_1590568336761{} }
		@media (max-width: 767px) { .ulisting_element_680_1590568336761{} }
		@media (max-width: 575px) { .ulisting_element_680_1590568336761{} }
		 
		.ulisting_element_200_1609230706563{;;}
		@media (max-width: 1199px) { .ulisting_element_200_1609230706563{} }
		@media (max-width: 991px) { .ulisting_element_200_1609230706563{} }
		@media (max-width: 767px) { .ulisting_element_200_1609230706563{} }
		@media (max-width: 575px) { .ulisting_element_200_1609230706563{} }
		 
		.ulisting_element_930_1590568048132{;position: sticky; position: -webkit-sticky; align-self: flex-start;;}
		@media (max-width: 1199px) { .ulisting_element_930_1590568048132{position: none} }
		@media (max-width: 991px) { .ulisting_element_930_1590568048132{position: none} }
		@media (max-width: 767px) { .ulisting_element_930_1590568048132{position: none} }
		@media (max-width: 575px) { .ulisting_element_930_1590568048132{position: none} }
		 
		.ulisting_element_40_1609230677143{;;}
		@media (max-width: 1199px) { .ulisting_element_40_1609230677143{} }
		@media (max-width: 991px) { .ulisting_element_40_1609230677143{} }
		@media (max-width: 767px) { .ulisting_element_40_1609230677143{} }
		@media (max-width: 575px) { .ulisting_element_40_1609230677143{} }
		 
		.ulisting_element_520_1608797200576{;;}
		@media (max-width: 1199px) { .ulisting_element_520_1608797200576{} }
		@media (max-width: 991px) { .ulisting_element_520_1608797200576{} }
		@media (max-width: 767px) { .ulisting_element_520_1608797200576{} }
		@media (max-width: 575px) { .ulisting_element_520_1608797200576{} }
		 
		.ulisting_element_700_1609144143087{;;}
		@media (max-width: 1199px) { .ulisting_element_700_1609144143087{} }
		@media (max-width: 991px) { .ulisting_element_700_1609144143087{} }
		@media (max-width: 767px) { .ulisting_element_700_1609144143087{} }
		@media (max-width: 575px) { .ulisting_element_700_1609144143087{} }
		 
		.ulisting_element_750_1609230712812{;;}
		@media (max-width: 1199px) { .ulisting_element_750_1609230712812{} }
		@media (max-width: 991px) { .ulisting_element_750_1609230712812{} }
		@media (max-width: 767px) { .ulisting_element_750_1609230712812{} }
		@media (max-width: 575px) { .ulisting_element_750_1609230712812{} }
		